html, body {
    height: 100%;
}

.grid {
    max-height: 80%;
    aspect-ratio: 1/1;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    background-color: white;
    flex-grow: 1;
}

.hover {
    background-color: darkslategray;
    border-color: darkslategray;
}

button {
    font-size: large;
    margin: 0 10px;
}

.reset {
    margin: 10px auto 10px auto;
    display: block;
}

.settings {
    display: flex;
    background-color: lightblue;
    margin: 10px auto 10px auto;
    justify-content: center;
}
